

    <section class="container">
                <div>
                    <figure>
                        <img src="./image/project1.jpg" alt="" width="300" height="300"> 
                        <figcaption>Project#1</figcaption>
                     </figure>
                </div>
                <div>
                    <figure>
                        <img src="./image/project2.jpg" alt="" width="300" height="300"> 
                        <figcaption>Project#2</figcaption>
                     </figure>
                </div>
                <div>
                    <figure>
                        <img src="./image/project3.jpg" alt="" width="300" height="300"> 
                        <figcaption>Project#3</figcaption>
                     </figure>
                </div>
                <div>
                    <figure>
                        <img src="./image/project4.jpg" alt="" width="300" height="300"> 
                        <figcaption>Project#4</figcaption>
                     </figure>
                </div>
                <div>
                    <figure>
                        <img src="./image/project5.jpg" alt="" width="300" height="300"> 
                        <figcaption>Project#5</figcaption>
                     </figure>
                </div>
                <div>
                    <figure>
                        <img src="./image/project6.jpg" alt="" width="300" height="300"> 
                        <figcaption>Project#6</figcaption>
                     </figure>
                </div>
           
         
           </section>